.card{
    display: grid;
    grid: 1fr / 100px 1fr;
    place-items: center;
    gap: 10px;
    border: 2px solid #00ADD8;
    box-shadow: 0px 0px 10px 0px #00ADD8;
    background: none;
    height: 100%;
    width: 100%;
    border-radius: 20px;
    padding: 15px 20px;
}
.card img{
    width: 100px;
}
.con-main{
    place-self: stretch;
    display: grid;
    grid: 50px 1fr / 1fr;
}
.con-main .graph{
    width: 70%;
    height: 90%;
    place-self: flex-end right ;
    background: white;
    border-radius: 5px;
    margin: 0;
}
.graph canvas{
    height: 100%;
}
.con-title{
    display: grid;
    grid: 2fr / 2fr 60px;
}
.con-title h2{
    align-self: center;
    font-size: 1.3rem;
    text-transform: uppercase;
}
.price{
    font-size: 1rem;
    color: var(--colorTxtCR);
}
.porcentajes{
    place-self: stretch;
    display: grid;
    place-items: center;
    font-size: 1rem;
    background-color: white;
    border-radius: 5px;
    text-align: center;
}
.img{
    background-size: cover;
    background-repeat: none;
    background-position: center;
    border-radius: 100%;
    width: 50px;
    height: 50px;
    margin-top: 25px;
    margin-left: 10px;
}

@media screen and (max-width: 768px) {
    .card img{
        margin-top: 50%;
        margin-left: 30%;
        width: 75px;
    }
}